<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>
  <body>
    <h1>Petition for quick review</h1>
    <div>
      <form action="./list" method="POST">
        <label>Here, below this useless text</label><br />
        <input type="text" name="list" /><br />
        <button type="submit">Un botón de all the life</button>
      </form>
      <a href="/list/0"> Petición anónima 1</a>
      <a href="/list/1"> Petición anónima 2</a>
      <a href="/list/3"> Petición anónima 3</a>
      <a href="/list/4"> Petición anónima 4</a>
      <a href="/list/5"> Petición anónima 5</a>
      <a href="/list/6"> Petición anónima 6</a>
      <a href="/list/7"> Petición anónima 7</a>
      <a href="/list/8"> Petición anónima 8</a>
      <a href="/list/9"> Petición anónima 9</a>
      <a href="/list/10"> Petición anónima 10</a>
      <a href="/list/11"> Petición anónima 11</a>
      <a href="/list/12"> Petición anónima 12</a>
      <a href="/list/13"> Petición anónima 13</a>
      <a href="/list/14"> Petición anónima 14</a>
      <a href="/list/15"> Petición anónima 15</a>
      <a href="/list/16"> Petición anónima 16</a>
      {{{body}}}
    </div>
  </body>
</html>